:root {
  --font-situation: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-situation);
  background-color: #fff8f0;
  font-size: 1rem;
  color: #5a4a42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  padding-bottom: 20px;
}

select,
.buttons,
p,
h3,
.customer-name {
  margin-top: 20px;
}

/*.customer-name {
  display: in;
}*/

input[type="checkbox"],
input[type="radio"] {
  margin: 10px 5px 0 0;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.image-container {
  position: relative;
  height: 100vh;
  flex: 1;
}

.image-container img {

  height: 100vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
  width: 100%;
  flex: 1;
  padding: 30px;
}

.price-banner {
  position: absolute;
  top: 20px;
  left: 70%;
  background-color: #d17b49;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation-duration: 4s;
}

#orderInformation {
  white-space: pre-wrap;
}

button {
  padding: 10px;
  margin: 5px;
  font-family: var(--font-situation);
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff8f0;

}

button:hover {
  background-color: #d17b49;
  color: black;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

#about {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.visible {
  display: flex;
}

.modal {
  background-color: white;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 2rem;
  width: 80vw;
  position: relative;
}

@media (max-width: 768px) {

  body {
    display: block;
    align-items: start;
  }

  .price-banner {
    position: fixed;
    justify-content: center;
  }

  .image-container {
    height: 80vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    object-fit: fill;
  }

  .image-container img {
    height: 50vh;
    object-fit: cover;

  }

}